body{
    margin:0;
    background:#121212;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}

#loginPage,#dashboard{
    margin-top:80px;
}

h1{
    color:#00c8ff;
}

input{
    width:260px;
    padding:12px;
    margin:10px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px 20px;
    margin:8px;
    border:none;
    border-radius:8px;
    background:#00c8ff;
    color:#000;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#00a8d8;
}

#status{
    margin-top:20px;
    font-size:18px;
}
